/*This is css file for the popup of ecoknow extension*/
#first{
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.first.visible{
    display: block;
}
body{
    background-color: antiquewhite;
}
.pop{
    width: 300px;
    text-align: center;
}
